<main>
    <img src="../../assets/marvelLogo.png" alt="logo da marvel">
    <div>
        <h3>Minhas redes sociais:</h3>
        <ul>
            <li>
                <img src="../../assets/gitLogo.png" alt="logo do github" class="imagemRedeSocial">
                <a href="https://github.com/joaovictor1516" target="_blank">GitHub</a>
            </li>

            <li>
                <img src="../../assets/linkedinLogo.png" alt="logo do linkedin" class="imagemRedeSocial">
                <a href="https://www.linkedin.com/in/joao-victor-campos-souza-oliveira/" target="_blank">Linkedin</a>
            </li>

            <li>
                <img src="../../assets/codepenLogo.png" alt="logo do codepen" class="imagemRedeSocial">
                <a href="https://codepen.io/joaovictor1516" target="_blank">Codepen</a>
            </li>

            <li>
                <img src="../../assets/hackerrankLogo.png" alt="logo do hackerrank" class="imagemRedeSocial">
                <a href="https://www.hackerrank.com/voliveira_joao30" target="_blank">HackerRamk</a>
            </li>
        </ul>
    </div>
    
    <div>
        <h3>Usado neste projeto:</h3>
        <ul>
            <li>
                <img src="../../assets/marvelApiLogo.png" alt="logo da marvel" class="imagemRedeSocial">
                <a href="https://developer.marvel.com" target="_blank">Site da api da marvel</a>
            </li>

            <li>
                <img src="../../assets/angularLogo.png" alt="logo do angular" class="imagemRedeSocial">
                <a href="https://angular.io" target="_blank">Framework angular</a>
            </li>

            <li>
                <img src="../../assets/javascriptLogo.png" alt="logo do javascrip" class="imagemRedeSocial">
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">JavaScript</a>
            </li>

            <li>
                <img src="../../assets/htmlLogo.png" alt="logo do html5" class="imagemRedeSocial">
                <a href="https://www.w3c.br/pub/Cursos/CursoHTML5/html5-web.pdf" target="_blank">HTML5</a>
            </li>

            <li>
                <img src="../../assets/css3Logo.png" alt="logo do css3" class="imagemRedeSocial">
                <a href="https://www.w3c.br/pub/Cursos/CursoHTML5/html5-web.pdf" target="_blank">CSS3</a>
            </li>
        </ul>
    </div>
</main>