<main>
    <div>
        <h5>Minhas redes sociais:</h5>
        <ul>
            <li>
                <img src="../../assets/gitLogo.png" alt="logo do github" class="imagemRedeSocial">
                <a href="https://github.com/joaovictor1516">GitHub</a>
            </li>

            <li>
                <img src="../../assets/linkedinLogo.png" alt="logo do linkedin" class="imagemRedeSocial">
                <a href="https://www.linkedin.com/in/joao-victor-campos-souza-oliveira/">Linkedin</a>
            </li>
        </ul>
    </div>
    
    <div>
        <h5>Site da api e ferramentas usadas:</h5>
        <ul>
            <li>
                <img src="../../assets/marvelApiLogo.png" alt="logo da marvel" class="imagemRedeSocial">
                <a href="https://developer.marvel.com">Site da api da marvel</a>
            </li>
        </ul>
    </div>
</main>