.imagemRedeSocial{
    width: 30px;
    height: 30px;
}

div{
    border: none;
    align-items: inherit;
    height: auto;
    width: 180px;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 80px;
}

li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3px;
}

li a{
    text-decoration: none;
    color: #0b0b0b;
}

li a:hover{
    text-decoration: underline #ff6464;
}

img{
    align-self: center;
    height: 38px;
    width: 40px;
}

h3{
    width: 180px;
}