<header>
  <app-navebar></app-navebar>
</header>


<main>
  <div *ngFor="let serie of serieDados">
    {{conferePersonagens(serie)}}
    {{confereComics(serie)}}

    <div class="principal">
      <img src="{{ serie.thumbnail.path }}/portrait_uncanny.{{ serie.thumbnail.extension }}" alt="{{ serie.title }}" class="imagemPrincipal">
      <div>
        <h2>{{ serie.title }}</h2>
        <p>{{ serie.description }}</p>
        <div *ngFor="let serieUrl of serie.urls">
          <a href="{{ serieUrl.url }}" target="_blank">{{ serieUrl.type }}</a>
      </div>
      </div>
    </div>

    <section>
      <div *ngIf="serie.temHerois; else serieSemHeroi">
        <h3>personagens:</h3>
        
        <div class="conteudos">
          <div *ngFor="let personagem of serieHerois" (click)="maisDetalhesPersonagem(personagem)"
          class="detalhes">
            <img src="{{ personagem.thumbnail.path }}/portrait_fantastic.{{ personagem.thumbnail.extension }}" alt="{{ personagem.name }}">
            <h4>{{ personagem.name }}</h4>
          </div>
        </div>
      </div>
    
      <ng-template #serieSemHeroi>
        <p>A série não contem personagens.</p>
      </ng-template>
    </section>

    <section>
      <div *ngIf="serie.temComic; else serieSemComic">
        <h3>comics:</h3>

        <div class="conteudos">
          <div *ngFor="let comic of serieComics" (click)="maisDetalhesComic(comic)" class="detalhes">
            <img src="{{ comic.thumbnail.path }}/portrait_fantastic.{{ comic.thumbnail.extension }}" alt="{{ comic.title }}">
            <h4>{{ comic.title }}</h4>
          </div>
        </div>
      </div> 

      <ng-template #serieSemComic>
        <p>A série não contem comics</p>
      </ng-template>
    </section>
  </div>
</main>

<footer>
  <app-rodape></app-rodape>
</footer>