<header>
  <app-navebar></app-navebar>
</header>


<main>
  <div *ngFor="let serie of serieDados" >
    {{conferePersonagens(serie)}}
    {{confereComics(serie)}}

    <img src="{{ serie.thumbnail.path }}/portrait_xlarge.{{ serie.thumbnail.extension }}" alt="{{ serie.title }}">
    <h3>{{ serie.title }}</h3>
    <p>{{ serie.description }}</p>

    <section>
      <div *ngIf="serie.temHerois; else serieSemHeroi">
        <h4>personagens:</h4>
        
        <div *ngFor="let personagem of serieHerois" (click)="maisDetalhesPersonagem(personagem)"
        class="detalhes">
          <img src="{{ personagem.thumbnail.path }}/portrait_medium.{{ personagem.thumbnail.extension }}" alt="personagem.name">
          <h5>{{ personagem.name }}</h5>
        </div>
      </div>
    
      <ng-template #serieSemHeroi>
        <p>A série não contem personagens.</p>
      </ng-template>
    </section>

    <section>
      <div *ngIf="serie.temComic; else serieSemComic">
        <h4>comics:</h4>

        <div *ngFor="let comic of serieComics" (click)="maisDetalhesComic(comic)" class="detalhes">
          <img src="{{ comic.thumbnail.path }}/portrait_medium.{{ comic.thumbnail.extension }}" alt="{{ comic.title }}">
          <h5>{{ comic.title }}</h5>
        </div>
      </div> 

      <ng-template #serieSemComic>
        <p>A série não contem comics</p>
      </ng-template>
    </section>
  </div>
</main>

<footer>
  <app-rodape></app-rodape>
</footer>