<header>
    <app-navebar></app-navebar>
</header>

<main>
    <div class="conteudos">
        <div *ngFor="let series of seriesHerois" (mouseenter)="mostraDetalhes(series)" (mouseleave)="escondeDetalhes(series)" (click)="maisDetalhes(series)">
            <img src="{{ series.thumbnail.path }}/portrait_xlarge.jpg" alt="{{ series.title }}" >
        
            <div *ngIf="series.detalhes" class="detalhes">
                <h3>{{ series.title }}</h3>
            </div>
        </div>
    </div>
</main>

<footer>
    <app-rodape></app-rodape>
</footer>