<header>
    <app-navebar></app-navebar>
</header>

<main>
    <div class="conteudos">
        <div *ngFor="let series of seriesHerois" (mouseenter)="mostraDetalhes(series)" (mouseleave)="escondeDetalhes(series)" (click)="maisDetalhes(series)"  class="detalhes">
            <img src="{{ series.thumbnail.path }}/portrait_xlarge.{{ series.thumbnail.extension }}" alt="{{ series.title }}" >
        
            <div *ngIf="series.detalhes">
                <h2>{{ series.title }}</h2>
            </div>
        </div>
    </div>
</main>

<footer>
    <app-rodape></app-rodape>
</footer>