<header>
    <app-navebar></app-navebar>
</header>

<main>
    <div *ngFor="let novel of comicDados">
        {{ checaPersonagens(novel) }}
        {{ checaSeries(novel) }}
        <section  class="principal">
            <img src="{{ novel.thumbnail.path }}/portrait_uncanny.{{ novel.thumbnail.extension }}" alt="{{ novel.title }}" class="imagemPrincipal">
            <div>
                <h2>{{ novel.title }}</h2>
                <p>{{ novel.description }}</p>
                <div *ngFor="let novelUrl of novel.urls">
                    <a href="{{ novelUrl.url }}" target="_blank">{{ novelUrl.type }}</a>
                </div>
            </div>
        </section>

        <section>
            <div *ngIf="novel.temHerois; else novelSemHeroi">
                <h3>Personagens da novel:</h3>
            
                <div class="conteudos">
                    <div *ngFor="let personagens of comicHerois" (click)="maisDetalhesPersonagem(personagens)" class="detalhes">
                        <img src="{{ personagens.thumbnail.path }}/portrait_fantastic.{{ personagens.thumbnail.extension }}" alt="{{ personagens.name }}">
                        <h4>{{ personagens.name }}</h4>
                    </div>
                </div>
            </div>

            <ng-template #novelSemHeroi>
                <p>Não foi encontrado o personagem da novel.</p>
            </ng-template>
        </section>

        <section>
            <div *ngIf="novel.temSeries; else novelSemSerie">
                <h3>Series que a novel participa:</h3>
            
                <div class="conteudos">
                    <div *ngFor="let series of comicSeries" (click)="maisDetalhesSerie(series)" class="detalhes">
                        <img src="{{ series.thumbnail.path }}/portrait_fantastic.{{ series.thumbnail.extension }}" alt="{{ series.title }}">
                        <h4>{{ series }}</h4>
                    </div>
                </div>
            </div>

            <ng-template #novelSemSerie>
                <p>Não foi encontrada alguma série que a novel faça parte.</p>
            </ng-template>
        </section>

        <section>
            <div >
                <h3>Variações da novel:</h3>
                <div class="conteudos">
                    <div *ngFor="let comicsParecidas of comicVariacoes" class="detalhes">
                        <img src="{{ comicsParecidas.thumbnail.path }}/portrait_fantastic.{{ comicsParecidas.thumbnail.extension }}" alt="{{ comicsParecidas.title }}">
                        <h4>{{ comicsParecidas.title }}</h4>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<footer>
    <app-rodape></app-rodape>
</footer>