<header>
    <app-navebar/>
</header>

<main>
    <div *ngFor="let novel of comicDados">
        {{ checaPersonagens(novel) }}
        <img src="{{ novel.thumbnail.path }}/portrait_xlarge.{{ novel.thumbnail.extension }}" alt="{{ novel.title }}">

        <h3>{{ novel.title }}</h3>

        <p>{{ novel.description }}</p>

        <div *ngIf="novel.temHerois; else novelSemHeroi">
            <h4>Personagens da novel:</h4>
            
            <div *ngFor="let personagens of comicHerois" class="detalhes">
                <img src="{{ personagens.thumbnail.path }}/portrait_medium.{{ personagens.thumbnail.extension }}" alt="{{ personagens.name }}">
                <h5>{{ personagens.name }}</h5>
                <a (click)="maisDetalhesPersonagem(personagens)">Ver mais</a>
            </div>
        </div>

        <ng-template #novelSemHeroi>
            <p>Não foi encontrado o personagem da novel.</p>
        </ng-template>

        <div *ngFor="let comicsParecidas of comicVariacoes">
            <img src="{{ comicsParecidas.thumbnail.path }}/portrait_medium.{{ comicsParecidas.thumbnail.extension }}" alt="{{ comicsParecidas.title }}">
            <p>{{ comicsParecidas.title }}</p>
            <p>teste</p>
        </div>
    </div>
</main>