<header>
    <app-navebar></app-navebar>
</header>

<main>
    <div *ngFor="let novel of comicDados">
        {{ checaPersonagens(novel) }}
        <img src="{{ novel.thumbnail.path }}/portrait_xlarge.{{ novel.thumbnail.extension }}" alt="{{ novel.title }}">

        <h3>{{ novel.title }}</h3>

        <p>{{ novel.description }}</p>

        <section>
            <div *ngIf="novel.temHerois; else novelSemHeroi">
                <h4>Personagens da novel:</h4>
            
                <div class="conteudos">
                    <div *ngFor="let personagens of comicHerois" (click)="maisDetalhesPersonagem(personagens)" class="detalhes">
                        <img src="{{ personagens.thumbnail.path }}/portrait_medium.{{ personagens.thumbnail.extension }}" alt="{{ personagens.name }}">
                        <h5>{{ personagens.name }}</h5>
                    </div>
                </div>
            </div>

            <ng-template #novelSemHeroi>
                <p>Não foi encontrado o personagem da novel.</p>
            </ng-template>
        </section>

        <section>
            <h4>Variações da novel:</h4>

            <div class="conteudos">
                <div *ngFor="let comicsParecidas of comicVariacoes" class="detalhes">
                    <img src="{{ comicsParecidas.thumbnail.path }}/portrait_medium.{{ comicsParecidas.thumbnail.extension }}" alt="{{ comicsParecidas.title }}">
                    <p>{{ comicsParecidas.title }}</p>
                </div>
            </div>
        </section>
    </div>
</main>

<footer>
    <app-rodape></app-rodape>
</footer>