<header>
    <app-navebar></app-navebar>
</header>

<main>
    <h3>Comics:</h3>
        <div class="elementos">
            <div *ngFor="let comics of pesquisaComics">
                <img src="{{ comics.thumbnail.path }}/portrait_xlarge.{{ comics.thumbnail.extension }}" alt="{{ comics.title }}">
                <h2>{{ comics.title }}</h2>
            </div>
        </div>
    
        <h3>Herois:</h3>
        <div class="elementos">
            <div *ngFor="let herois of pesquisaCharacter">
                <img src="{{ herois.thumbnail.path }}/portrait_xlarge.{{ herois.thumbnail.extension }}" alt="{{ herois.name }}">
                <h2>{{ herois.name }}</h2>
            </div>
        </div>
    
        <h3>Series:</h3>
        <div class="elementos">
            <div *ngFor="let series of pesquisaSerie">
                <img src="{{ series.thumbnail.path }}/portrait_xlarge.{{ series.thumbnail.extension }}" alt="{{ series.title }}">
                <h2>{{ series.title }}</h2>
            </div>
        </div>
</main>

<footer>
    <app-rodape></app-rodape>
</footer>