<header>
        <app-navebar></app-navebar>
</header>

<main>
    <div class="conteudos">
        <div *ngFor="let herois of heros" (mouseenter)="mostraDetalhes(herois)" (mouseleave)="escondeDetalhes(herois)" (click)="maisDetalhes(herois)">
            <img src="{{ herois.thumbnail.path }}/portrait_xlarge.{{ herois.thumbnail.extension }}" alt="{{ herois.name }}">
            <div *ngIf="herois.detalhes" class="detalhes">
                <h3>{{ herois.name }}</h3>
            </div>
        </div>
    </div>
</main>

<footer>
    <app-rodape></app-rodape>
</footer>