<header>
        <img src="../../../assets/marvelLogo.png" alt="Logo da Marvel" id="marvelLogo">
        <app-navebar/>
        <input type="text" [ngModel]=hero>
        <button (click)="pesquisarHeroi(hero)">pesquisar</button>
</header>

<main>
    <div *ngFor="let herois of heros" (mouseenter)="mostraDetalhes(herois)" (mouseleave)="escondeDetalhes()">
        <img src="{{ herois.thumbnail.path }}/portrait_xlarge.{{ herois.thumbnail.extension }}" alt="{{ herois.name }}">

        <div *ngIf="herois.detalhes" class="detalhes">
            <h3>{{ herois.name }}</h3>
            <p>{{ herois.description }}</p>
            <a (click)="maisDetalhes(herois)">Saber mais</a>
        </div>
    </div>
</main>