<header>
    <app-navebar></app-navebar>
</header>

<main>
    <div class="conteudos">
        <div *ngFor="let revistinhas of novels" (mouseenter)="mostraDetalhes(revistinhas)" (mouseleave)="escondeDetalhes(revistinhas)" (click)="maisDetalhes(revistinhas)">
            <img src="{{ revistinhas.thumbnail.path}}/portrait_xlarge.{{ revistinhas.thumbnail.extension }}" alt="novels">
            <div *ngIf="revistinhas.detalhes;" class="detalhes">
                <h3>{{ revistinhas.title }}</h3>
            </div>
        </div>
    </div>
</main>

<footer>
    <app-rodape></app-rodape>
</footer>