<header>
    <app-navebar/>
</header>

<main>
    <div *ngFor="let revistinhas of novels" (mouseenter)="mostraDetalhes(revistinhas)" (mouseleave)="escondeDetalhes()">
        <img src="{{ revistinhas.thumbnail.path}}/landscape_small.{{ revistinhas.thumbnail.extension }}" alt="novels">
        <div *ngIf="revistinhas.detalhes" class="detalhes">
            <h3>{{ revistinhas.title }}</h3>
            <h6>{{ revistinhas.characters.items }}</h6>
            <a (click)="maisDetalhes(revistinhas)">Mais detalhes</a>
        </div>
    </div>
</main>