*{
    margin: 0;
    padding: 0;
}

app-root{
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    color: #2b2a2a;
    background-color: #eC151e;
}

div:not(.buscador,.conteudos,.principal){
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

img{
    border-radius: 5px;
    width: 168px;
    height: 252px;
}

footer main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: flex-end;
    justify-content: space-evenly;
    height: 100%;
}

header{
    padding: 5px;
}

footer main, header main{
    background-color: #fff;
}

section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px 0;
}

a{
    text-decoration: none;
    color: #2b2a2a;
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.detalhes{
    width: 250px;
}

.detalhes p, h2{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow : hidden;
    text-overflow: ellipsis;
    width: 150px;
    margin: 3px 0;
}

.detalhes:hover img{
    width: 216px;
    height: 324px;
}

.detalhes:hover{
    cursor: pointer;
}

.conteudos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.imagemPrincipal{
    width: 300px;
    height: 450px;
}

.principal{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    width: 80%;
}

.principal h3, p{
    margin: 1px;
}

#marvelLogo{
    height: 40px;
    width: 38px;
}