*{
    margin: 0;
    padding: 0;
}

app-root{
    width: 1080px;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

div:not(.detalhes,.buscador,.conteudos){
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    padding: 5px;
    margin: 5px;
    width: 225px;
    border: 2px solid #414141;
    border-radius: 5px;
}

img{
    border-radius: 5px;
    width: 150px;
    height: 225px;
}

a{
    cursor: pointer;
}

a:hover{
    text-decoration: underline #ff6464;
}

input{
    width: 150px;
}

.detalhes{
    display:flex;
    flex-direction:column;
    justify-content:center;
    flex-wrap: wrap;
    margin: 5px 0;
}

.detalhes p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow : hidden;
    text-overflow: ellipsis;
}

.detalhes img{
    width: 100px;
    height: 150px;
}

.detalhes:hover img{
    width: 150px;
    height: 225px;
}

.conteudos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: none;
}

#marvelLogo{
    height: 40px;
    width: 38px;
}